/*
  BEM-styling is used in this document
  for making it easier to differientiate classes.
  http://getbem.com/introduction/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================
            STYLING
============================*/

html, body {
    font: inherit;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f0f0f0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    max-width: 1280px;
    min-width: 746px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: bolder;
    font-size: 35px;
    padding: 15px;
}

h1::before {
    content: "—";
    display: block;
    color: #ff000f;
    font-size: inherit;
}

h3 {
    font-weight: bold;
    font-size: 15px;
    padding: 5px 20px 10px 0px;
}

p {
    font-size: 13px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

a {
    color: black;
}

/*==========================
            INPUT
============================*/

input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

textarea:focus, input:focus{
    outline: none;
}

@media screen and (max-width: 600px) {
    input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}

/*==========================
            SELECT
============================*/

.select__optgroup { 
    font-weight: 700;
    color: #6c6c6c;
}
.select__option { padding-left: 1em; }

/*==========================
            ROW/COLUMN
============================*/

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float:left;
    padding: 10px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1  { width: 8.33%; }
    .col-2  { width: 16.66%;}
    .col-3  { width: 25%;   }
    .col-4  { width: 33.33%;}
    .col-5  { width: 41.66%;}
    .col-6  { width: 50%;   }
    .col-7  { width: 58.33%;}
    .col-8  { width: 66.66%;}
    .col-9  { width: 75%;   }
    .col-10 { width: 83.33%;}
    .col-11 { width: 91.66%;}
    .col-12 { width: 100%;  }
}

.col--md {
    height: 290px;
    border-radius: 15px 50px 30px 5px;
}

.col-12--center {
    text-align: center;
    padding-top: 0px;
}

.col--width {
    width: 90%;
}

.col__line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.col__side {
    width: 100%;
    position: relative;
}

@media (min-width: 576px) {
    .col__side {
        width: 25%;
        position: fixed;
    }
}

@media (min-width: 768px) {
    .col__side {
        width: 25%;
        position: fixed;
    }
}

@media (min-width: 992px) {
    .col__side {
        width: 25%;
        position: fixed;
    }
}

@media (min-width: 1200px) {
    .col__side {
        width: 25%;
        position: fixed;
    }
}

/*==========================
            CONTAINER
============================*/

.container {
    height:        auto;
    width:         100%;
    padding-right: 15px;
    padding-left:  15px;
    margin-right:  auto;
    margin-left:   auto;
    background-color: #fff;
}

@media (min-width: 576px) {
    .container {
      width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
      width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 100%;
    }
}

.container__category {
    padding: 10px;
    display: block;
}

.container__text {
    height: 9.7em;
    display: block;
    padding: 5px;
    padding-top: 0.5em;
    line-height: 1em;
    text-overflow: ellipsis;
    background-color: #f7f7f7fa;
    border-radius: 0px 0px 10px 10px;
}

.container__text--h {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.container__text--p {
    font-size: 13px;
    padding-top: 10px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container__image {
    overflow: hidden;
    display: block;
    height: 45%;
    width: 100%;
    padding: 0;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    
}

/*==========================
            IMG
============================*/

.img--resize {
    height:     100%;
    max-width:  100%;
}

/*==========================
            SELECT2
============================*/

.select2-selection--single {
    height: 32px !important;
}

.select2-selection .select2-selection--multiple {
    color: black;
}

li.select2-selection__choice {
    position: relative              !important;
    font-size: 13px                 !important;
    margin: 5px 0 3px 5px           !important;
    padding: 8px 20px 8px 10px      !important;
    background-color: #6e6e6e     !important;
    background-clip: padding-box    !important;
    color: #fff                   !important;
    line-height: 13px               !important;
    cursor: default                 !important;
    text-overflow: ellipsis         !important;
    border-radius: 20px             !important;
}

ul.select2-results__options {
    overflow: auto      !important;
    height: 500px       !important;
}

ul.select2-selection__rendered {
    padding-right: 30px !important;
}

ul.select2-selection__rendered:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-width: 5px 4px 0;
    border-color: #888 transparent transparent transparent
}

